# See https://docs.docker.com/engine/reference/builder/#dockerignore-file

# node.js
node_modules
npm-debug.log
# Unused lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Next.js
.next/
dist

# Ignore local environment variables
.env
.env*.local
