# Docker
Dockerfile
.dockerignore

# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
.next/
.turbo/
build/
dist/

# Local Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
